/* データの概要を表示用 *******************/
.outline {
	width: 420px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	padding: 10px;
	height: 56px;
	line-height: 22pt;
}

h2 {
    background: none repeat scroll 0 0 #9b59b6;
    border-color: #2ecc71;
    border-style: solid;
    border-width: 0 0 0 5px;
    color: #ecf0f1;
    font-weight: bold;
    line-height: 140%;
    margin: 20px 10px 10px 0;
    padding: 2px 8px;
    border-radius: 5px;
}

table {
	margin: 1em auto 1em 0;
}

td {
	text-align: left;
	vertical-align: top;
}

td ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

td li {
	padding: 10px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 18px;
	margin: 10px;
	background-color: #34495e;
	color: #ecf0f1;
	-moz-border-radius: 20px;
}

td a {
	text-decoration: none;
}

.new {
	color: #f1c40f;
	font-weight: bold;
	float: left;
}

.iine {
	float: center;
}

/* データの概要を表示用終わり *******************/